In [27]:
#1
ciudades = ["montevideo","florianopolis","bogota","caracas","miami","madrid","paris","roma"]
print (ciudades)

['montevideo', 'florianopolis', 'bogota', 'caracas', 'miami', 'madrid', 'paris', 'roma']

In [28]:
#2
ciudades[1]

'florianopolis'

In [29]:
#3
ciudades[1:4]

['florianopolis', 'bogota', 'caracas']

In [30]:
#4
ciudades.append("miami")
ciudades.append("berlin")
print(ciudades)

['montevideo', 'florianopolis', 'bogota', 'caracas', 'miami', 'madrid', 'paris', 'roma', 'miami', 'berlin']

In [31]:
#5
ciudades.insert(3,"barcelona")
print(ciudades)

['montevideo', 'florianopolis', 'bogota', 'barcelona', 'caracas', 'miami', 'madrid', 'paris', 'roma', 'miami', 'berlin']

In [40]:
#6
ciudades1 = []
paises = ["uruguay","brasil","venezuela","EEUU","colombia","españa","francia","alemania"]
ciudades1.extend(ciudades)
ciudades1.extend(paises)
print(ciudades1)

['montevideo', 'florianopolis', 'bogota', 'barcelona', 'caracas', 'miami', 'madrid', 'paris', 'roma', 'miami', 'berlin', 'uruguay', 'brasil', 'venezuela', 'EEUU', 'colombia', 'españa', 'francia', 'alemania']

In [33]:
#7
numeros = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(numeros))
print(numeros)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [34]:
#8
print(numeros[9:15])

(10, 11, 12, 13, 14, 15)

In [35]:
#9 
primero, segundo, tercero,*cuarto = numeros
print(primero)
print(segundo)
print(tercero)

1
2
3

In [36]:
#10
dicionario_ciudad = {"ciudad":ciudades,"pais":"","continente":""}

In [37]:
#11
dicionario_ciudad.keys()

dict_keys(['ciudad', 'pais', 'continente'])

In [41]:
#12
dicionario_ciudad["ciudad"]

['montevideo',
 'florianopolis',
 'bogota',
 'barcelona',
 'caracas',
 'miami',
 'madrid',
 'paris',
 'roma',
 'miami',
 'berlin']

In [39]:
#13
numero = int(input("ingrese un Numero"))
if numero > 0:
    print("el Numero Ingresado es Mayor")
else: 
    print ("el Numero Ingresado es Menor")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#14 
numero = int(input("Ingrese un Numero"))
dato = str(input("Ingrese una palabra"))
type(numero), type(dato)

(int, str)

In [ ]:
#15
i = 0
while i < 20:
    i+=1
    if i % 2 == 0:
        print(i, "es par.")
    else:
        print(i, "es impar.")

1 es impar.
2 es par.
3 es impar.
4 es par.
5 es impar.
6 es par.
7 es impar.
8 es par.
9 es impar.
10 es par.
11 es impar.
12 es par.
13 es impar.
14 es par.
15 es impar.
16 es par.
17 es impar.
18 es par.
19 es impar.
20 es par.

In [ ]:
#16
for numero in range(0,6):
    numero = numero **3
    print (numero)

0
1
8
27
64
125

In [ ]:
#17
numero = int(input("Ingrese un Numero"))
for numero in range(numero):
    print(numero)

0
1

In [ ]:
#18 - ver
numero = int(input("Ingrese un Numero"))
factorial = 1
for i in range (1, numero+1):
    factorial *= i
print("el Factorial de ",numero, " es ",factorial)

el Factorial de  3  es  6

In [ ]:
#18 - Bis
# Ingresar el número para calcular el factorial
numero = int(input("Ingrese un número: "))

# Validar si el número es negativo
if numero < 0:
    print("El factorial no está definido para números negativos.")
else:
    # Inicializar la variable factorial
    factorial = 1
    
    # Calcular el factorial utilizando un ciclo while
    while numero > 0:
        factorial *= numero
        numero -= 1
    
    # Imprimir el resultado del factorial
    print("El factorial es:", factorial)

El factorial es: 6

In [ ]:
#19
numero = 100
while numero <= 300:
    if numero % 12 != 0:
        numero += 1
        continue
    print(numero)
    numero += 1

108
120
132
144
156
168
180
192
204
216
228
240
252
264
276
288
300

In [ ]:
#20
numero = 100
while numero <= 300:
    if numero % 3 == 0 and numero % 6 == 0:
        print(numero)
        break
    numero += 1

102

In [ ]:
#21
cadena = "hola mundo. Esto es una practica del lenguaje de programación Python"
letra =list(cadena)
for indice, letra in enumerate(cadena):
    if letra == 'n':
        print(f"La letra 'n' aparece en la posición {indice}")

La letra 'n' aparece en la posición 7
La letra 'n' aparece en la posición 21
La letra 'n' aparece en la posición 39
La letra 'n' aparece en la posición 60
La letra 'n' aparece en la posición 67

In [ ]:
#22
cadena = "Hola Mundo"
lista = list(cadena)
for elemento in lista:
    print(elemento)

H
o
l
a

M
u
n
d
o